
<div class="row" style="border-bottom: 1px solid rgba(120,130,140,.13);">
  <div class="comment-body col-sm-12 col-md-12 col-lg-12" style="border-bottom: none !important;">
    <div class="user-img text-center horizontal-center icon-box"><div data-icon="&#xe019;" class="linea-icon linea-basic icon-font"></div></div>
    <div class="mail-content">

      <!-- PRIKAZATI VACANCY EDIT I DELETE SAMO AKO MATCHA COMPANIJU -->
      <div class="box-title p-b-10 p-r-10" *ngIf="isCompany">
        <div class="pull-right">
          <a role="button"  class="popup-with-form" (click)="modalEdit.show()">
            <i class="fa fa-pencil text-inverse m-r-10"></i>
          </a>
          <a role="button"  (click)="modalDelete.show()" class="popup-with-form">
            <i class="fa fa-close text-danger" aria-hidden="true"></i>
          </a>
        </div>
      </div>

      <!--&lt;!&ndash; APPLY BUTTON &ndash;&gt;-->
      <!--<div class="box-title p-b-10 p-r-10" *ngIf="isUser && vacancy.status.status == 'ACTIVE' && !applicantApplied">-->
        <!--<div class="pull-right">-->
          <!--<a  role="button"  class="btn btn-default btn-rounded popup-with-form" (click)="modalApply.show()">-->
            <!--Apply-->
          <!--</a>-->
        <!--</div>-->
      <!--</div>-->

      <!-- APPLY BUTTON -->
      <div class="box-title p-b-10 p-r-10" *ngIf="isUser && applicantApplied">
        <div class="pull-right">
          <span  class="label label-table label-info">Application sent</span>

        </div>
      </div>

      <a [routerLink]="vacancy?.id===null ? [] : [vacancy?.id]" >
        <h5><b>{{vacancy?.name}}</b></h5>
        <span class="mail-desc" style="height:100px;">
          <div class="row">
            <div class="col-xs-12 col.sm-6 col-md-6 col-lg-4">
              <i class="fa fa-map-marker"></i> {{vacancy.id_location.name}}
            </div>
            <div class="col-xs-12 col.sm-6 col-md-6 col-lg-4">
              <b>{{'DIVISION' | translate}}: </b>
               {{vacancy.id_work_place.name}}
            </div>
            <div class="col-xs-12 col.sm-6 col-md-6 col-lg-6">
              <i class="fa fa-clock-o"></i> {{vacancy.date_from | date: 'dd/MM/yyyy'}} - <i class="fa fa-clock-o"></i> {{vacancy.date_to | date: 'dd/MM/yyyy'}}
            </div>
            <div class="col-xs-12 col.sm-6 col-md-6 col-lg-4">
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
            </div>
            <div class="col-lg-12 m-t-5">
              <p>{{vacancy.description}}</p>
            </div>
            <div class="col-md-6 col-lg-4">
              <span [ngClass]="{'label-success' : vacancy.status.status == 'ACTIVE', 'label-danger' : vacancy.status.status != 'ACTIVE'}" class="label label-table">{{vacancy.status.status}}</span>
            </div>
          </div>
          <span class="time pull-right"><b>{{'LASTUPDATE' | translate}}: </b>{{vacancy.updated_at | date:'dd-MM-yyyy HH:mm'}}</span>
        </span>
      </a>


    </div>
  </div>

  <app-modal #modalEdit>
    <div class="app-modal-header">
      {{'EDITVACANCY' | translate}}
    </div>
    <div class="app-modal-body">
      <form class="form-horizontal" role="form" (ngSubmit)="f.form.valid && onSubmitEdit(f)" #f="ngForm">
        <div class="p-l-20">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !vacancy.code }">
                <label class="col-md-12">{{'CODE' | translate}}:</label>
                <div class="col-md-12">
                  <input  type="text" class="form-control"name="code"
                          [(ngModel)]="vacancy && vacancy.code">
                  <span class="highlight"></span><span class="bar"></span>

                  <div *ngIf="f.submitted && !vacancy.code" class="help-block">{{'FIELDISREQUIRED' | translate}}</div>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !vacancy.name }">
                <label class="col-md-12">{{'NAME' | translate}}:</label>
                <div class="col-md-12">
                  <input  type="text" class="form-control"name="name"
                          [(ngModel)]="vacancy && vacancy.name">
                  <span class="highlight"></span><span class="bar"></span>

                  <div *ngIf="f.submitted && !vacancy.name" class="help-block">{{'FIELDISREQUIRED' | translate}}</div>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !vacancy.description }">
                <label class="col-md-12">{{'DESCRIPTION' | translate}}:</label>
                <div class="col-md-12">
                  <input  type="text" class="form-control"name="description"
                          [(ngModel)]="vacancy && vacancy.description">
                  <span class="highlight"></span><span class="bar"></span>

                  <div *ngIf="f.submitted && !vacancy.description" class="help-block">{{'FIELDISREQUIRED' | translate}}</div>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !vacancy.date_from }">
                <label class="col-md-12">{{'DATEFROM' | translate}}:</label>
                <div class="col-md-12">
                  <input  type="date" class="form-control"name="date_from"
                          [(ngModel)]="vacancy && vacancy.date_from">
                  <span class="highlight"></span><span class="bar"></span>

                  <div *ngIf="f.submitted && !vacancy.date_from" class="help-block">{{'FIELDISREQUIRED' | translate}}</div>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !vacancy.date_to }">
                <label class="col-md-12">{{'DATETO' | translate}}:</label>
                <div class="col-md-12">
                  <input  type="date" class="form-control"name="date_to"
                          [(ngModel)]="vacancy && vacancy.date_to">
                  <span class="highlight"></span><span class="bar"></span>

                  <div *ngIf="f.submitted && !vacancy.date_to" class="help-block">{{'FIELDISREQUIRED' | translate}}</div>
                </div>
              </div>
            </div>

            <div class="col-md-12"  *ngIf="selectedRegion">
              <div class="form-group">
                <label class="col-md-12">{{'REGION' | translate}}:</label>
                <div class="col-md-12">
                  <select class="form-control p-0" (change)="onRegionSelected(t.value)" #t>
                    <option *ngFor="let region of regions" [selected]="region?.id == selectedRegion.id" [ngValue]="region">{{region.name}}</option>
                  </select><span class="highlight"></span> <span class="bar"></span>
                </div>
              </div>
            </div>
            <div class="col-md-12"  *ngIf="selectedWorkplace">
              <div class="form-group">
                <label class="col-md-12">{{'WORKPLACE' | translate}}: </label>
                <div class="col-md-12">
                  <select class="form-control p-0"  (change)="onWorkplaceSelected(t.value)" #t>
                    <option *ngFor="let workplace of workplaces" [selected]="workplace?.id == selectedWorkplace.id" [ngValue]="workplace">{{workplace.name}}</option>
                  </select><span class="highlight"></span> <span class="bar"></span>
                </div>
            </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label class="col-md-12">{{'STATUS' | translate}}:</label>
                  <div class="col-md-12">
                    <select class="form-control p-0" (change)=onStatusSelected(t.value) #t>
                      <option [selected]="vacancy?.status.status == 'ACTIVE'" value="ACTIVE">{{'ACTIVE' | translate}}</option>
                      <option [selected]="vacancy?.status.status == 'CLOSED'" value="CLOSED">{{'CLOSED' | translate}}</option>
                    </select><span class="highlight"></span> <span class="bar"></span>
                  </div>
                </div>
              </div>

          </div>
          <button (click)="modalEdit.hide()" #cancelEdit class="pull-right saveButton btn btn-default" type="button">{{'CANCEL' | translate}}</button>
          <button  class="pull-right saveButton btn btn-success" type="submit">{{'SAVE' | translate}}</button>
          </div>
        </div>
      </form>
    </div>
  </app-modal>

  <app-modal #modalApply>
    <div class="app-modal-header">
      {{'VACANCY' | translate}}
    </div>
    <div class="app-modal-body">
      <form class="form-horizontal" role="form">
        <div class="p-l-20">
          <div class="row">

            <div class="col-md-12">
              <div class="form-group" >
                <label>{{'CODE' | translate}}:</label>
                <p> {{vacancy?.code}} </p>
              </div>
            </div>

            <div class="col-md-12">
              <div class="form-group">
                <label>{{'NAME' | translate}}:</label>
                <p> {{vacancy?.name}} </p>
              </div>
            </div>

            <div class="col-md-12">
              <div class="form-group">
                <label>{{'DESCRIPTION' | translate}}:</label>
                <p> {{vacancy?.description}} </p>
              </div>
            </div>

            <div class="col-md-12">
              <div class="form-group">
                <label>{{'DATEFROM' | translate}}:</label>
                <p> {{vacancy?.date_from}} </p>
              </div>
            </div>

            <div class="col-md-12">
              <div class="form-group" >
                <label>{{'DATETO' | translate}}:</label>
                <p> {{vacancy?.date_to}} </p>
              </div>
            </div>

            <div class="col-md-12">
              <div class="form-group">
                <label>{{'REGION' | translate}}:</label>
                <p> {{vacancy?.id_location.name}} </p>
              </div>
            </div>

            <div class="col-md-12">
              <div class="form-group">
                 <label>{{'WORKPLACE' | translate}}: </label>
                <p> {{vacancy?.id_work_place.name}} </p>
              </div>
            </div>

            <button (click)="modalApply.hide()" #cancelApply class="pull-right saveButton btn btn-default">{{'CANCEL' | translate}}</button>
            <button (click)="apply()" class="pull-right saveButton btn btn-success">{{'APPLY' | translate}}</button>
          </div>
        </div>
      </form>
    </div>
  </app-modal>


  <app-modal #modalDelete>
    <div class="app-modal-header">
      {{'CONFIRMACTION' | translate}}
    </div>
    <div class="app-modal-body">
      {{'AREYOUSUREYOUWANTTODELETETHISITEM' | translate}}
    </div>
    <div class="app-modal-footer">
      <button type="button" class="btn btn-default" (click)="modalDelete.hide()">{{'CANCEL' | translate}}</button>
      <button type="button" class="btn btn-danger"  (click)="deleteVacancy(this.vacancy)">{{'DELETE' | translate}}</button>
    </div>
  </app-modal>








