<!--

<td><a routerLink="/applicant"><i></i></a></td>
<td>{{ vacancy.name }}</td>
<td> {{vacancy.code}}</td>
<td>{{vacancy.region.name}}</td>
<td>{{vacancy.workPlace.name}}</td>
<td>{{vacancy.date_from}}</td>
<td>{{vacancy.date_to}}</td>
<td>{{vacancy.description}}</td>
<td>{{vacancy.updated_at}}</td>
<td>fdfd</td>
-->

<div (mouseenter) ="toggleEditButton()"  (mouseleave) ="toggleEditButton()">
<a [routerLink]="vacancy.id===null ? [] : [vacancy.id]" >
  <div class="comment-body col-sm-12 col-md-12 col-lg-12 pd-l-5" style="margin-bottom: 10px">
    <div class="user-img text-center horizontal-center icon-box"><div data-icon="&#xe019;" class="linea-icon linea-basic icon-font"></div></div>
    <div class="mail-content">
      <h5><b>{{vacancy.name}}</b></h5>

      <span class="mail-desc" style="height:100px;">
        <div class="row">
          <div class="col-xs-12 col.sm-6 col-md-6 col-lg-4">
            <i class="fa fa-map-marker"></i> {{vacancy.id_location.name}}
          </div>
          <div class="col-xs-12 col.sm-6 col-md-6 col-lg-4">
            <b>Division: </b> {{vacancy.id_work_place.name}}
          </div>


          <div class="col-xs-12 col.sm-6 col-md-6 col-lg-6">
            <i class="fa fa-clock-o"></i> {{vacancy.date_from | date: 'dd/MM/yyyy'}} - {{vacancy.date_to | date: 'dd/MM/yyyy'}}
          </div>
          <div class="col-xs-12 col.sm-6 col-md-6 col-lg-4">
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">

          </div>
          <div class="col-lg-12 m-t-5">
            <p>{{vacancy.description}}</p>
          </div>
        </div>
        <span class="time pull-right"><b>Last update: </b>{{vacancy.updated_at | date:'dd-MM-yyyy HH:mm'}}</span>

      </span>

    </div>
  </div>
</a>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
  <div class="text-center" style="margin-top:-42px">
    <!--<button class="btn btn-success waves-effect waves-light m-r-10" data-toggle="collapse" data-target="#demo">-->
    <button class="btn btn-default" *ngIf="isItemHovered || editVacancy" (click)="editVacancyButton()">
      <b>Edit</b>
      <i class="fa fa-angle-down fa-lg" aria-hidden="true"></i>
    </button>
    <button (click)="delete(vacancy.name)" class="btn">Delete</button>
  </div>
  <div *ngIf="editVacancy">
    <app-at-vacancies-edit [vacancy]="vacancy"  (onUpdate)="onUpdate($event)"></app-at-vacancies-edit>
  </div>

</div>
</div>











