<div class="panel-footer p-b-20 p-t-20 m-b-10">
  <i class="ti-check-box m-r-5 heading-icon-at"></i>
  <span class="heading-at">ACCOMPLISHMENTS</span>
  <div *ngIf="editable" class="dropdown user-pro-body pull-right">
    <a href="#" class="u-dropdown" data-toggle="dropdown"
       role="button" aria-haspopup="true" aria-expanded="false">
      <i class="fa fa-plus action-button-at"></i>
    </a>
    <ul class="dropdown-menu animated fadeIn">
      <li><a (click)="setAccomplishmentType('Certification');addAccomplishment=true"><i class="icon-badge"></i> Certification</a></li>
      <li><a (click)="setAccomplishmentType('Course');addAccomplishment=true"><i class="icon-notebook"></i> Course</a></li>
      <li><a (click)="setAccomplishmentType('Honor and Award');addAccomplishment=true"><i class="icon-trophy"></i> Honor and Award</a></li>
      <li><a (click)="setAccomplishmentType('Language');addAccomplishment=true"><i class="ti-announcement"></i> Language</a></li>
      <li><a (click)="setAccomplishmentType('Project');addAccomplishment=true"><i class="ti-blackboard"></i> Project</a></li>
      <li><a (click)="setAccomplishmentType('Publication');addAccomplishment=true"><i class="ti-write"></i> Publication</a></li>
    </ul>
  </div>
</div>
<app-at-applicat-accomplishments-add *ngIf="addAccomplishment && editable" [applicant]="applicant" [selectedAccomplishmentType]="selectedAccomplishmentType" (onClose)="onClose($event)"></app-at-applicat-accomplishments-add>
<app-at-applicant-accomplishments-list [applicant]="applicant" [applicantAccomplishments]="applicantAccomplishments" [editable]="editable"></app-at-applicant-accomplishments-list>
