<div class="row">
  <div class="col-md-12">
    <form class="form-horizontal" role="form" (ngSubmit)="formEducation.form.valid && onSubmit(formEducation)" #formEducation="ngForm">
      <div class="form-body">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label col-md-3">{{ 'INSTITUTION' | translate }}:</label>
              <div class="col-md-9">
                <select class="form-control p-0" id="selectedSchool" [(ngModel)]="selectedSchool" name="selectedSchool">
                  <option *ngFor="let school of schools"  [ngValue]="school">{{school?.name}}</option>
                </select><span class="highlight"></span> <span class="bar"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label col-md-3">{{ 'DEGREE' | translate }}:</label>
              <div class="col-md-9">
                <select class="form-control p-0" id="selectedQualificaiton" [(ngModel)]="selectedQualification" name="selectedQualification">
                  <option *ngFor="let qualification of qualifications"  [ngValue]="qualification">{{qualification?.name}}</option>
                </select><span class="highlight"></span> <span class="bar"></span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group" [ngClass]="{ 'has-error': formEducation.submitted && !major.valid }">
              <label class="control-label col-md-3">{{ 'FIELDOFSTUDY' | translate }}:</label>
              <div class="col-md-9">
                <input required type="text" class="form-control" id="major" name="major" ngModel #major="ngModel">
                <span class="highlight"></span>
                <span class="bar"></span>
                <div *ngIf="formEducation.submitted && !major.valid" class="help-block">{{ 'FIELDISREQUIRED' | translate }}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group" [ngClass]="{ 'has-error': formEducation.submitted && !dateFrom.valid }">
              <label class="control-label col-md-3">{{ 'FROMYEAR' | translate }}:</label>
              <div class="col-md-9">
                <input required type="date" class="form-control" id="dateFrom" name="dateFrom" #dateFrom="ngModel" ngModel>
                <span class="highlight"></span>
                <span class="bar"></span>
                <div *ngIf="formEducation.submitted && !dateFrom.valid" class="help-block">{{ 'FIELDISREQUIRED' | translate }}</div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group" [ngClass]="{ 'has-error': formEducation.submitted && !date_to.valid }">
              <label class="control-label col-md-3">{{ 'TOYEAR' | translate }} <br>(or expected):</label>
              <div class="col-md-9">
                <input required type="date" class="form-control" id="date_to" name="date_to" #date_to="ngModel" ngModel>
                <span class="highlight"></span>
                <span class="bar"></span>
                <div *ngIf="formEducation.submitted && !date_to.valid" class="help-block">{{ 'FIELDISREQUIRED' | translate }}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group" [ngClass]="{ 'has-error': formEducation.submitted && !grade.valid }">
              <label class="control-label col-md-3">{{ 'GRADE' | translate }}:</label>
              <div class="col-md-9">
                <input required type="number" class="form-control" id="grade" name="grade" ngModel #grade="ngModel">
                <span class="highlight"></span>
                <span class="bar"></span>
                <div *ngIf="formEducation.submitted && !grade.valid" class="help-block">{{ 'FIELDISREQUIRED' | translate }}</div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label col-md-3">{{ 'DESCRIPTION' | translate }}:</label>
              <div class="col-md-9">
                <input type="text" class="form-control" id="description" name="description" ngModel>
                <span class="highlight"></span>
                <span class="bar"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label col-md-3">{{ 'LINK' | translate }}:</label>
              <div class="col-md-9">
                <input type="text" class="form-control" id="link" name="link" ngModel>
                <span class="highlight"></span>
                <span class="bar"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button (click)="close()" class="pull-right saveButton btn btn-default">{{ 'CANCEL' | translate }}</button>
      <button  class="pull-right saveButton btn btn-success" type="submit">{{ 'ADD' | translate }} <i class="fa fa-plus" aria-hidden="true"></i></button>
    </form>
  </div>
</div>
<hr>

