<div class="table-responsive">
  <table id="example23" class="table table-striped">
    <thead>
    <tr>
      <th>{{'FROMSTATUS' | translate}}</th>
      <th>{{'TOSTATUS' | translate}}</th>
      <th>{{'DATE' | translate}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let row of history">
      <td><span class="label label-table label-info">{{row?.id_status_from?.name}}</span></td>
      <td><span class="label label-table label-info">{{row?.id_status_to?.name}}</span></td>
      <td>{{row.created_at | date:'dd/MM/yyyy'}}</td>

    </tr>

    </tbody>
  </table>
</div>
