<hr class="m-t-5 m-b-10">
    <form class="form-horizontal" role="form">
      <div class="form-body">
        <div *ngIf="editable" class="box-title p-b-10 p-t-10 p-r-10"><div class="pull-right">
          <a role="button"  (click)="modal.show()" class="popup-with-form"><i class="fa fa-times action-button-at" aria-hidden="true"></i></a>
        </div>
        </div>
        <div class="p-l-20">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label col-md-3">{{ 'DOCUMENTNAME' | translate }}:</label>
                <div class="col-md-9">
                  <p  class="form-control-static"> {{document?.name}}</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label col-md-3">{{ 'DOCUMENTLINK' | translate }}:</label>
                <div class="col-md-9">
                  <button class="btn btn-default" (click)="openFile()">{{ 'OPEN' | translate }}</button>
                  <button class="btn btn-default" (click)="saveFile()">{{ 'SAVE' | translate }}</button>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <!--<label class="control-label col-md-3">File:</label>-->
                <div class="col-md-9">
                  <p class="form-control-static"> </p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label col-md-3">{{ 'DESCRIPTION' | translate }}:</label>
                <div class="col-md-9">
                  <p  class="form-control-static"> {{document?.description}}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label col-md-3">{{ 'VALIDFROM' | translate }}:</label>
                <div class="col-md-9">
                  <p  class="form-control-static"> {{document?.valid_from}}</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label col-md-3">{{ 'VALIDTO' | translate }}:</label>
                <div class="col-md-9">
                  <p  class="form-control-static"> {{document?.valid_to}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>

<app-modal #modal>
  <div class="app-modal-header">
    {{ 'CONFIRMACTION' | translate }}
  </div>
  <div class="app-modal-body">
    {{ 'AREYOUSUREYOUWANTTODELETETHISITEM' | translate }}
  </div>
  <div class="app-modal-footer">
    <button type="button" class="btn btn-default" (click)="modal.hide()">{{ 'CANCEL' | translate }}</button>
    <button type="button" class="btn btn-danger"  (click)="removeDocument(this.document)">{{ 'DELETE' | translate }}</button>
  </div>
</app-modal>
