<div class="preloader">
  <div class="cssload-speeding-wheel"></div>
</div>
<div id="wrapper">
  <!-- Top Navigation -->
  <nav class="navbar navbar-default navbar-static-top m-b-0">
    <div class="navbar-header">
      <a class="navbar-toggle hidden-sm hidden-md hidden-lg " href="javascript:void(0)" data-toggle="collapse"
          data-target=".navbar-collapse">
        <i class="ti-menu"></i>
      </a>
      <div class="top-left-part">
        <div class="logo">
          <b>
            <img src="assets/images/is-logo.png" alt="home" class="dark-logo" />
            <img src="assets/images/eliteadmin-logo-dark.png" alt="home" class="light-logo" />
          </b>
          <span class="hidden-xs">
            <img src="assets/images/is-logo-text.png" alt="home" class="dark-logo" />
            <img src="assets/images/eliteadmin-text-dark.png" alt="home" class="light-logo" />
          </span>
        </div>
      </div>
      <ul class="nav navbar-top-links navbar-left hidden-xs">
        <li>
          <a href="javascript:void(0)" class="open-close hidden-xs waves-effect waves-light">
            <i class="icon-arrow-left-circle ti-menu"></i>
          </a>
        </li>
      </ul>
      <ul class="nav navbar-top-links navbar-right pull-right">
        <li class="dropdown">
          <a data-toggle="dropdown" href="#">
            <i class="icon-envelope"></i>
            <div *ngIf="activeNotificaitons?.length != 0" class="notify">
              <span  class="heartbit"></span>
              <span class="point"></span>
            </div>
          </a>
          <ul id="notification" class="dropdown-menu mailbox animated bounceInDown">
            <li>
              <div class="drop-title">You have {{activeNotificaitons?.length}} new messages</div>
            </li>

            <li>
              <div  class="message-center">
                <div  *ngFor="let notification of notifications | notificationStatusPipe:'Y'; let i=index">
                  <ng-template [ngIf]="i<5">
                    <a (click)="changeNotificationStatus(notification)">
                      <div class="mail-content">
                        <h5><strong>{{notification?.id_notification?.subject}} {{notification?.idJobApplication?.vacancyid?.name}}</strong></h5>
                        <span class="mail-desc">{{notification?.id_notification?.template}}</span>
                        <span class="time">{{notification?.date_sent | date:'dd/MM/yyyy'}}</span>
                      </div>
                      <div class="pull-right">
                        NEW
                      </div>

                    </a>
                  </ng-template>

              </div>
              </div>
            </li>
            <li>
              <a class="text-center" (click)="navigateToNotifications()">
                <strong>See all notifications</strong>
                <i class="fa fa-angle-right"></i>
              </a>
            </li>
          </ul>
          <!-- /.dropdown-messages -->
        </li>
        <li class="dropdown" id="langDrop" >

              <a class="dropdown-toggle" data-toggle="dropdown" style="cursor: pointer; color: white"><span class="caret"></span> Language </a>
            <ul class="dropdown-menu text-center" style="min-width: 60px; padding: 0px; border: none">
              <li><a type="button" (click)="changeLanguage('GB')" class="btn btn-default" style="font-size:30px; padding: 0px"><span class="flag-icon flag-icon-gb" style="line-height: 20px"></span></a> </li>
              <li><a type="button" (click)="changeLanguage('SA')" class="btn btn-default" style="font-size: 30px; padding: 0px"><span class="flag-icon flag-icon-sa" style="line-height: 20px"></span></a></li>

            </ul>

          <!--<div class="flag-icon flag-icon-gb"></div>-->
          <!--<span class="flag-icon flag-icon-sa"></span>-->
          <!--<div>-->
            <!--<select  class="form-control icon-menu" name="countries" id="countries" style="vertical-align: middle; display: inline-block; max-height: 30px" (change)="changeLanguage(t.value)" #t>-->
              <!--<option value="UK"></option>-->
              <!--<option selected value="SA"> Arabic</option>-->
            <!--</select><span class="highlight"></span> <span class="bar"></span>-->
          <!--</div>-->
        </li>
      </ul>
    </div>
    <!-- /.navbar-header -->
    <!-- /.navbar-top-links -->
    <!-- /.navbar-static-side -->
  </nav>
  <!-- End Top Navigation -->
  <!-- Left navbar-header -->
  <div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse slimscrollsidebar">
      <div class="user-profile">
        <div class="dropdown user-pro-body">
          <div><img src="assets/images/users/1.jpg" alt="user-img" class="img-circle"></div>
          <a class="dropdown-toggle u-dropdown" data-toggle="dropdown" role="button"
              aria-haspopup="true" aria-expanded="false">
            {{user?.username}}<span class="caret"></span>
          </a>
          <ul class="dropdown-menu animated flipInY">
            <!--<li><a routerLinkActive="active" routerLink="/dashboard/profile" ><i class="ti-user"></i> My Profile</a></li>-->
            <!--<li><a href="#"><i class="ti-wallet"></i> My Balance</a></li>-->
            <!--<li><a href="#"><i class="ti-email"></i> Inbox</a></li>-->
            <!--<li role="separator" class="divider"></li>-->
            <li><a routerLinkActive="active" routerLink="/dashboard/profile" href="#"><i class="ti-settings"></i> {{'ACCOUNTSETTINGS' | translate}}</a></li>
            <li role="separator" class="divider"></li>
            <li><a (click)="logout()"><i class="fa fa-power-off"></i> {{'LOGOUT' | translate}}</a></li>
          </ul>
        </div>
      </div>
      <ul class="nav" id="side-menu" #sideMenu>
        <li *ngIf="isAdmin; else applicant">
          <a routerLinkActive="active" routerLink="/dashboard/applicants" class="waves-effect">
            <i class="icon-people fa-fw"></i>
            <span class="hide-menu">
                 {{'APPLICANTS' | translate}} {{state}}
             </span>
          </a>
        </li>
        <ng-template #applicant>
          <li>
            <a routerLinkActive="active" routerLink="/dashboard/applicant" class="waves-effect">
              <i class="icon-people fa-fw"></i>
              <span class="hide-menu">
                 {{'YOURPROFILE' | translate}}
              </span>
            </a>
          </li>
        </ng-template>

        <li>
        <a routerLinkActive="active" routerLink="/dashboard/vacancies" class="waves-effect">
          <i class="ti-clipboard fa-fw"></i>
          <span class="hide-menu">
                 {{'VACANCIES' | translate}}
             </span>
        </a>
        </li>
        <li *ngIf="!isAdmin">
          <a routerLinkActive="active" routerLink="/dashboard/myList" class="waves-effect">
            <i class="ti-clipboard fa-fw"></i>
            <span class="hide-menu">
                 {{'YOURJOBAPPLICATIONS' | translate}}
             </span>
          </a>
        </li>
        <li>
          <a routerLinkActive="active" routerLink="/dashboard/applicantVideos" class="waves-effect">
            <i class="fa fa-video-camera fa-fw" aria-hidden="true"></i>
            <span class="hide-menu">
                 {{'APPLICANTVIDEOS' | translate}}
             </span>
          </a>
        </li>
        <li *ngIf="isAdmin" >
          <a routerLinkActive="active" routerLink="/dashboard/companies" class="waves-effect">
            <i class="fa fa-building-o fa-fw" aria-hidden="true"></i>
            <span class="hide-menu">
                {{'COMPANIES' | translate}}
             </span>
          </a>
        </li>


        <!--<li *ngIf="isAdmin">-->
          <!--<a class="waves-effect">-->
            <!--<i data-icon="F" class="linea-icon linea-software fa-fw"></i>-->
            <!--Groups-->
          <!--</a>-->
        <!--</li>-->
        <li *ngIf="isAdmin">
          <a class="waves-effect" aria-expanded="true">
             <i data-icon="P" class="linea-icon linea-basic fa-fw"></i>
             <span class="hide-menu">
               {{'SETTINGS' | translate}}<span class="fa arrow"></span>
             </span>
          </a>
          <ul class="nav nav-second-level">
            <li><a routerLinkActive="active" routerLink="/dashboard/announcements">{{'ANNOUNCEMENTS' | translate}}</a> </li>
          </ul>
          <!--<ul class="nav nav-second-level">-->
            <!--<li><a routerLinkActive="active" routerLink="/dashboard/workPlaces">Work Places</a> </li>-->
          <!--</ul>-->
          <ul class="nav nav-second-level">
            <li><a aria-expanded="true" routerLinkActive="active" routerLink="/dashboard/regions">{{'REGIONS' | translate}}</a> </li>
          </ul>
          <ul class="nav nav-second-level">
            <li><a aria-expanded="true" routerLinkActive="active" routerLink="/dashboard/qualifications">{{'QUALIFICATIONS' | translate}}</a> </li>
          </ul>
          <ul class="nav nav-second-level">
            <li><a class="collapse in" routerLinkActive="active" routerLink="/dashboard/skills">{{'SKILLS' | translate}}</a> </li>
          </ul>
          <!-- OVAJ JE JOB APPLICATION STATUSES -->
          <ul class="nav nav-second-level">
            <li><a aria-expanded="true" routerLinkActive="active" routerLink="/dashboard/applicantStatuses">{{'APPLICANTSTATUSES' | translate}}</a> </li>
          </ul>
          <!--<ul class="nav nav-second-level">-->
            <!--<li><a routerLinkActive="active" routerLink="/dashboard/activities">Activities</a> </li>-->
          <!--</ul>-->
        </li>
      </ul>
    </div>
  </div>
</div>
