<div class="preloader">
  <div class="cssload-speeding-wheel"></div>
</div>
<div id="wrapper">
  <!-- Top Navigation -->
  <nav class="navbar navbar-default navbar-static-top m-b-0">
    <div class="navbar-header">
      <a class="navbar-toggle hidden-sm hidden-md hidden-lg " href="javascript:void(0)" data-toggle="collapse"
          data-target=".navbar-collapse">
        <i class="ti-menu"></i>
      </a>
      <div class="top-left-part">
        <a class="logo" routerLink="/">
          <b>
            <img src="assets/images/is-logo.png" alt="home" class="dark-logo" />
            <img src="assets/images/eliteadmin-logo-dark.png" alt="home" class="light-logo" />
          </b>
          <span class="hidden-xs">
            <img src="assets/images/is-logo-text.png" alt="home" class="dark-logo" />
            <img src="assets/images/eliteadmin-text-dark.png" alt="home" class="light-logo" />
          </span>
        </a>
      </div>
      <ul class="nav navbar-top-links navbar-left hidden-xs">
        <li>
          <a href="javascript:void(0)" class="open-close hidden-xs waves-effect waves-light">
            <i class="icon-arrow-left-circle ti-menu"></i>
          </a>
        </li>
      </ul>
      <ul class="nav navbar-top-links navbar-right pull-right">
        <li class="dropdown">
          <a class="dropdown-toggle waves-effect waves-light" data-toggle="dropdown" href="#">
            <i class="icon-envelope"></i>
            <div class="notify">
              <span class="heartbit"></span>
              <span class="point"></span>
            </div>
          </a>
          <ul class="dropdown-menu mailbox animated bounceInDown">
            <li>
              <div class="drop-title">You have 4 new messages</div>
            </li>
            <li>
              <div class="message-center">
                <a href="#">
                  <div class="user-img">
                    <img src="assets/images/users/pawandeep.jpg" alt="user" class="img-circle">
                    <span class="profile-status offline pull-right"></span>
                  </div>
                  <div class="mail-contnet">
                    <h5>Pavan kumar</h5>
                    <span class="mail-desc">Just see the my admin!</span>
                    <span class="time">9:02 AM</span>
                  </div>
                </a>
              </div>
            </li>
            <li>
              <a class="text-center" href="javascript:void(0);">
                <strong>See all notifications</strong>
                <i class="fa fa-angle-right"></i>
              </a>
            </li>
          </ul>
          <!-- /.dropdown-messages -->
        </li>
        <!-- /.dropdown -->
        <li class="dropdown">
          <a class="dropdown-toggle waves-effect waves-light" data-toggle="dropdown" href="#">
            <i class="icon-note"></i>
            <div class="notify">
              <span class="heartbit"></span>
              <span class="point"></span>
            </div>
          </a>
          <ul class="dropdown-menu dropdown-tasks animated slideInUp">
            <li>
              <a href="#">
                <div>
                  <p>
                    <strong>Task 1</strong>
                    <span class="pull-right text-muted">40% Complete</span>
                  </p>
                  <div class="progress progress-striped active">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
                        aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                      <span class="sr-only">40% Complete (success)</span>
                    </div>
                  </div>
                </div>
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <a class="text-center" href="#">
                <strong>See All Tasks</strong>
                <i class="fa fa-angle-right"></i>
              </a>
            </li>
          </ul>
          <!-- /.dropdown-tasks -->
        </li>
        <!-- /.dropdown -->
      </ul>
    </div>
    <!-- /.navbar-header -->
    <!-- /.navbar-top-links -->
    <!-- /.navbar-static-side -->
  </nav>
  <!-- End Top Navigation -->
  <!-- Left navbar-header -->
  <div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse slimscrollsidebar">
      <div class="user-profile">
        <div class="dropdown user-pro-body">
          <div><img src="assets/images/users/7.jpg" alt="user-img" class="img-circle"></div>
          <a href="#" class="dropdown-toggle u-dropdown" data-toggle="dropdown" role="button"
              aria-haspopup="true" aria-expanded="false">
            John Doe<span class="caret"></span>
          </a>
          <ul class="dropdown-menu animated flipInY">
            <li><a routerLinkActive="active" routerLink="/dashboard/profile" ><i class="ti-user"></i> My Profile</a></li>
            <li><a href="#"><i class="ti-wallet"></i> My Balance</a></li>
            <li><a href="#"><i class="ti-email"></i> Inbox</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#"><i class="ti-settings"></i> Account Setting</a></li>
            <li role="separator" class="divider"></li>
            <li><a (click)="logout()"><i class="fa fa-power-off"></i> Logout</a></li>
          </ul>
        </div>
      </div>
      <ul class="nav" id="side-menu" #sideMenu>
        <li *ngIf="isAdmin; else applicant">
          <a routerLinkActive="active" href="/dashboard/applicants" class="waves-effect">
            <i class="icon-people fa-fw"></i>
            <span class="hide-menu">
                 Applicants
             </span>
          </a>
        </li>
        <ng-template #applicant>
          <li>
            <a routerLinkActive="active" href="/dashboard/applicant" class="waves-effect">
              <i class="icon-people fa-fw"></i>
              <span class="hide-menu">
                 Your Profile
              </span>
            </a>
          </li>
        </ng-template>

        <li>
          <a routerLinkActive="active" href="/dashboard/vacancies" class="waves-effect">
            <i class="ti-clipboard fa-fw"></i>
            <span class="hide-menu">
                 Vacancies
             </span>
          </a>
        </li>
        <li *ngIf="isAdmin">
          <a class="waves-effect">
            <i data-icon="F" class="linea-icon linea-software fa-fw"></i>
            Groups
          </a>
        </li>
        <li *ngIf="isAdmin">
          <a href="#" class="waves-effect">
             <i data-icon="P" class="linea-icon linea-basic fa-fw"></i>
             <span class="hide-menu">
               Setings<span class="fa arrow"></span>
             </span>
          </a>
          <ul class="nav nav-second-level">
            <li><a routerLinkActive="active" routerLink="/dashboard/announcements">Announcements</a> </li>
          </ul>
          <ul class="nav nav-second-level">
            <li><a routerLinkActive="active" routerLink="/dashboard/workPlaces">Work Places</a> </li>
          </ul>
          <ul class="nav nav-second-level">
            <li><a routerLinkActive="active" routerLink="/dashboard/regions">Regions</a> </li>
          </ul>
          <ul class="nav nav-second-level">
            <li><a routerLinkActive="active" routerLink="/dashboard/qualifications">Qualifications</a> </li>
          </ul>
          <ul class="nav nav-second-level">
            <li><a routerLinkActive="active" routerLink="/dashboard/skills">Skills</a> </li>
          </ul>
          <ul class="nav nav-second-level">
            <li><a routerLinkActive="active" routerLink="/dashboard/applicantStatuses">Applicant statuses</a> </li>
          </ul>
          <ul class="nav nav-second-level">
            <li><a routerLinkActive="active" routerLink="/dashboard/activities">Activities</a> </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
