html[dir="rtl"] body {
  text-align: right;
}

html[dir="rtl"] #page-wrapper {
  margin: 0 220px 0 0;
}

html[dir="rtl"] .top-left-part {
  float: right;
}

html[dir="rtl"] .navbar-header {
  float: right;
}


html[dir="rtl"] .nav, html[dir="rtl"] .navbar-top-links {
  padding-right: 0px;
}

html[dir="rtl"] #side-menu > li > a {
  padding: 15px 15px 15px 30px;
}

html[dir="rtl"] .pull-right {
  float: left !important;
}


html[dir="rtl"] #side-menu li a {
  color: #a6acbc;
  border-right: 0px solid #4F5467;
}

html[dir="rtl"] #side-menu > li > a.active {
  border-right: 3px solid #a0aec4;
  border-left: 0px solid #a0aec4;
  color: #ffffff;
  font-weight: 500;
}

html[dir="rtl"] b {
  float: right;
}


html[dir="rtl"] h5 b {
  float: none;
}

html[dir="rtl"] .changeStatus {
  float: right !important;
}


html[dir="rtl"] .grades b {
  float: none;
}

html[dir="rtl"] .form-control+.input-group-addon {
  border-left: 1px solid rgba(120,130,140,.13) !important;
  border-right: 0 !important;
}

html[dir="rtl"] .stylish-input-group .form-control {
  border-left: 0 !important;
  border-right: 1px solid rgba(120,130,140,.13) !important;
}

html[dir="rtl"] .dropdown-toggle::before {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .255em;
  vertical-align: .255em;
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
  /* float: right; */
}

html[dir="rtl"] .sidebar .arrow {
  position: absolute;
  right: auto !important;
  left: 15px !important;
  top: 18px;

}

html[dir="rtl"] .dropdown-toggle::after {
  display: none;
}

html[dir="rtl"] .form-group label {
  float: right;
}
html[dir="rtl"] .navbar-left {
  float: right !important;
}
html[dir="rtl"] #notification {
  left: 0 !important;
  right: auto !important;
}
/*html[dir="rtl"]
html[dir="rtl"]
html[dir="rtl"]
html[dir="rtl"]
html[dir="rtl"]
html[dir="rtl"]*/
