<div class="row">
  <div class="col-md-12">
    <form class="form-horizontal" role="form" (ngSubmit)="formExperience.form.valid && onSubmit(formExperience)" #formExperience="ngForm">

      <div class="form-body">
        <div class="box-title p-b-10 p-t-10 p-r-10">
          <span class="section-title section-title-at">Add new experience</span>
        </div>
        <hr class="m-t-5 m-b-10">
        <div class="p-l-20">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group" [ngClass]="{ 'has-error': formExperience.submitted && !company.valid }">
                <label class="control-label col-md-3">Company:</label>
                <div class="col-md-9">
                  <input required type="text" class="form-control" name="company" ngModel #company="ngModel">
                  <div *ngIf="formExperience.submitted && !company.valid" class="help-block">Field is required</div>

                </div>
              </div>
            </div>
            <div class="col-md-6" >
              <div class="form-group" [ngClass]="{ 'has-error': formExperience.submitted && !position.valid }">
                <label class="control-label col-md-3">Position:</label>
                <div class="col-md-9">
                  <input required type="text" class="form-control" name="position" ngModel #position="ngModel">
                  <div *ngIf="formExperience.submitted && !position.valid" class="help-block">Field is required</div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label col-md-3">Location:</label>
                <div class="col-md-9">
                  <input type="text" class="form-control" name="location" ngModel>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label col-md-3">From:</label>
                <div class="col-md-9">
                  <input type="date" class="form-control" name="date_from" ngModel>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div  class="form-group">
                <label class="control-label col-md-3">To:</label>
                <div class="col-md-9">
                  <input *ngIf="!ongoing" type="date" class="form-control" name="date_to" ngModel>
                  <button class="btn btn-success btn-rounded" type="button" (click)="ongoing = !ongoing" name="ongoing">Present <i *ngIf="ongoing" class="fa fa-check" aria-hidden="true"></i></button>

                </div>
              </div>
            </div>
          </div>

          <button (click)="close()" class="pull-right saveButton btn btn-default">Cancel</button>
          <button  class="pull-right saveButton btn btn-success" type="submit">Add <i class="fa fa-plus" aria-hidden="true"></i></button>
        </div>
      </div>
    </form>
  </div>
</div>
<hr>
