
  <div class="container-fluid">

    <!-- /row -->
    <div class="row">
      <div class="col-sm-12">
        <div class="white-box">
          <div class="row">
            <div class="col-md-9">
              <h3 class="box-title m-b-0">{{ 'SKILLGRADES' | translate }}</h3>
              <p class="text-muted m-b-30">{{ 'SKILLGRADESFORSKILLS' | translate }}</p>
            </div>
            <div class="col-md-3" style="margin-bottom: 10px">
              <div class="pull-right">
                <button (click)="modalAdd.show();" class="btn btn-info btn-rounded">{{ 'ADD' | translate }} <i class="fa fa-plus" aria-hidden="true"></i></button>
              </div>
            </div>
          </div>


          <div class="table-responsive">
            <table id="example23" class="table table-striped">
              <thead>
              <tr>
                <th>{{ 'CODE' | translate }}</th>
                <th>{{ 'NAME' | translate }}</th>
                <th>{{ 'DESCRIPTION' | translate }}</th>
                <th>{{ 'GRADE' | translate }}</th>
                <th>{{ 'NUMERICAL' | translate }}</th>
                <th>{{ 'SKILL' | translate }}</th>
                <th>{{ 'ACTIONS' | translate }}</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let skillGrade of skillGrades">
                <td>{{skillGrade.code}}</td>
                <td>{{skillGrade.name}}</td>
                <td>{{skillGrade.description}}</td>
                <td>{{skillGrade.grade}}</td>
                <td>{{skillGrade.numerical}}</td>
                <td>{{skillGrade.idSkill.name}}</td>
                <td>
                  <a role="button" class="popup-with-form" (click)="modalEdit.show(); selectedSkillGrade = skillGrade">
                    <i class="fa fa-pencil text-inverse m-r-10"></i>
                  </a>
                  <a role="button" (click)="modalDelete.show(); selectedSkillGrade = skillGrade" class="popup-with-form"><i class="fa fa-close text-danger" aria-hidden="true"></i></a>
                </td>
              </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
  </div>

<app-modal #modalAdd>
  <div class="app-modal-header">
    {{ 'ADDANEWSKILLGRADE' | translate }}
  </div>
  <div class="app-modal-body">
    <form class="form-horizontal" role="form" (ngSubmit)="formAdd.form.valid && onSubmitAdd(formAdd)" #formAdd="ngForm">
      <div class="p-l-20">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group" [ngClass]="{ 'has-error': formAdd.submitted && !code.valid }">
              <label class="col-md-12">{{ 'CODE' | translate }}:</label>
              <div class="col-md-12">
                <input required type="text" class="form-control" name="code"
                       #code="ngModel" ngModel>
                <span class="highlight"></span><span class="bar"></span>
                <div *ngIf="formAdd.submitted && !code.valid" class="help-block">{{ 'FIELDISREQUIRED' | translate }}</div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group" [ngClass]="{ 'has-error': formAdd.submitted && !name.valid }">
              <label class="col-md-12">{{ 'NAME' | translate }}:</label>
              <div class="col-md-12">
                <input  required type="text" class="form-control" name="name"
                        #name="ngModel" ngModel>
                <span class="highlight"></span><span class="bar"></span>

                <div *ngIf="formAdd.submitted && !name.valid" class="help-block">{{ 'FIELDISREQUIRED' | translate }}</div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group" [ngClass]="{ 'has-error': formAdd.submitted && !description.valid }">
              <label class="col-md-12">{{ 'DESCRIPTION' | translate }}:</label>
              <div class="col-md-12">
                <input required type="text" class="form-control" name="description"
                       #description="ngModel" ngModel>
                <span class="highlight"></span><span class="bar"></span>

                <div *ngIf="formAdd.submitted && !description.valid" class="help-block">{{ 'FIELDISREQUIRED' | translate }}</div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group" [ngClass]="{ 'has-error': formAdd.submitted && !grade.valid }">
              <label class="col-md-12">{{ 'GRADE' | translate }}:</label>
              <div class="col-md-12">
                <input required type="number" class="form-control" name="grade" #grade="ngModel" ngModel>
                <span class="highlight"></span><span class="bar"></span>

                <div *ngIf="formAdd.submitted && !grade.valid" class="help-block">{{ 'FIELDISREQUIRED' | translate }}</div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group" [ngClass]="{ 'has-error': formAdd.submitted && !numerical.valid }">
              <label class="col-md-12">{{ 'NUMERICAL' | translate }}:</label>
              <div class="col-md-12">
                <!--<select  class="form-control p-0" id="marital_status"  [(ngModel)]="applicant && applicant.marital_status" name="marital_status">-->
                  <!--<option [selected]="applicant?.marital_status == 'Married'" value="Married">Married</option>-->
                  <!--<option [selected]="applicant?.marital_status == 'Unmarried'" value="Unmarried">Unmarried</option>-->
                <!--</select><span class="highlight"></span> <span class="bar"></span>-->
                <input required type="text" class="form-control" name="numerical" #numerical="ngModel" ngModel>
                <span class="highlight"></span><span class="bar"></span>

                <div *ngIf="formAdd.submitted && !numerical.valid" class="help-block">{{ 'FIELDISREQUIRED' | translate }}</div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label class="col-md-12">{{ 'FORSKILL' | translate }}:</label>
              <div class="col-md-12">
                <select class="form-control p-0" id="selectedQualificaiton" [(ngModel)]="selectedSkill" name="selectedSkill">
                  <option *ngFor="let skill of skills"  [ngValue]="skill">{{skill?.name}}</option>
                </select><span class="highlight"></span> <span class="bar"></span>
              </div>
            </div>
          </div>
        </div>
        <button (click)="modalAdd.hide()" #cancelAdd class="pull-right saveButton btn btn-default">{{ 'CANCEL' | translate }}</button>
        <button  class="pull-right saveButton btn btn-success" type="submit">{{ 'ADD' | translate }}</button>
      </div>
    </form>
  </div>
</app-modal>

<app-modal #modalEdit>
  <div class="app-modal-header">
    {{ 'EDITSKILLGRADE' | translate }}
  </div>
  <div class="app-modal-body">
    <form class="form-horizontal" role="form" (ngSubmit)="f.form.valid && onSubmit(f)" #f="ngForm">
      <div class="p-l-20">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !selectedSkillGrade.code }">
              <label class="col-md-12">{{ 'CODE' | translate }}:</label>
              <div class="col-md-12">
                <input  type="text" class="form-control"name="code"
                        [(ngModel)]="selectedSkillGrade && selectedSkillGrade.code">
                <span class="highlight"></span><span class="bar"></span>

                <div *ngIf="f.submitted && !selectedSkillGrade.code" class="help-block">{{ 'FIELDISREQUIRED' | translate }}</div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !selectedSkillGrade.name }">
              <label class="col-md-12">{{ 'NAME' | translate }}:</label>
              <div class="col-md-12">
                <input  type="text" class="form-control"name="name"
                        [(ngModel)]="selectedSkillGrade && selectedSkillGrade.name">
                <span class="highlight"></span><span class="bar"></span>

                <div *ngIf="f.submitted && !selectedSkillGrade.name" class="help-block">{{ 'FIELDISREQUIRED' | translate }}</div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !selectedSkillGrade.description }">
              <label class="col-md-12">{{ 'DESCRIPTION' | translate }}:</label>
              <div class="col-md-12">
                <input  type="text" class="form-control"name="description"
                        [(ngModel)]="selectedSkillGrade && selectedSkillGrade.description">
                <span class="highlight"></span><span class="bar"></span>

                <div *ngIf="f.submitted && !selectedSkillGrade.description" class="help-block">{{ 'FIELDISREQUIRED' | translate }}</div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !selectedSkillGrade.grade }">
              <label class="col-md-12">{{ 'GRADE' | translate }}:</label>
              <div class="col-md-12">
                <input  type="number" class="form-control"name="grade"
                        [(ngModel)]="selectedSkillGrade && selectedSkillGrade.grade">
                <span class="highlight"></span><span class="bar"></span>

                <div *ngIf="f.submitted && !selectedSkillGrade.grade" class="help-block">{{ 'FIELDISREQUIRED' | translate }}</div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !selectedSkillGrade.numerical }">
              <label class="col-md-12">{{ 'NUMERICAL' | translate }}:</label>
              <div class="col-md-12">
                <input  type="text" class="form-control"name="numerical"
                        [(ngModel)]="selectedSkillGrade && selectedSkillGrade.numerical">
                <span class="highlight"></span><span class="bar"></span>

                <div *ngIf="f.submitted && !selectedSkillGrade.numerical" class="help-block">{{ 'FIELDISREQUIRED' | translate }}</div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label class="col-md-12">{{ 'FORSKILL' | translate }}:</label>
              <div class="col-md-12">
                <select class="form-control p-0" [(ngModel)]="selectedSkill" name="selectedSkill">
                  <option *ngFor="let skill of skills"  [ngValue]="skill">{{skill?.name}}</option>
                </select><span class="highlight"></span> <span class="bar"></span>
              </div>
            </div>
          </div>
        </div>
        <button (click)="modalEdit.hide()" #cancelEdit class="pull-right saveButton btn btn-default" type="button">{{ 'CANCEL' | translate }}</button>
        <button  class="pull-right saveButton btn btn-success" type="submit">{{ 'SAVE' | translate }}</button>
      </div>
    </form>
  </div>
</app-modal>




<app-modal #modalDelete>
  <div class="app-modal-header">
    {{ 'CONFIRMACTION' | translate }}
  </div>
  <div class="app-modal-body">
    {{ 'AREYOUSUREYOUWANTTODELETETHISITEM' | translate }}
  </div>
  <div class="app-modal-footer">
    <button type="button" class="btn btn-default" (click)="modalDelete.hide()">{{ 'CANCEL' | translate }}</button>
    <button type="button" class="btn btn-danger"  (click)="removeSkillGrade(this.selectedSkillGrade); modalDelete.hide()">{{ 'DELETE' | translate }}</button>
  </div>
</app-modal>




<!--<div class="row">-->
    <!--<div class="col-sm-12">-->
        <!--<div class="white-box">-->
            <!--<h3 class="box-title m-b-0">-->
                <!--SkillGrade Grades-->
              <!--<div class="col-md-1 col-sm-1 col-xs-1 pull-right">-->
                <!--<button #addButton class="btn btn-info btn-rounded pull-right" title="Add SkillGrade Grade" -->
                    <!--(click)="showEditForm()">+ Add</button>-->
              <!--</div>-->
            <!--</h3>-->
            <!---->
            <!--<p class="text-muted m-b-30">SkillGrade grades for selected skillGrade.</p>-->
            <!--<div #tableDiv class="table-responsive">-->
                <!--<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="display">-->
                    <!--<thead>-->
                        <!--<tr>-->
                            <!--<th>Code</th>-->
                            <!--<th>Name</th>-->
                            <!--<th>Description</th>-->
                            <!--<th>Grade</th>-->
                            <!--<th>Numerical</th>-->
                            <!--<th class="text-nowrap">Actions</th>-->
                        <!--</tr>-->
                    <!--</thead>-->
                    <!--<tbody>-->
                        <!--<tr *ngFor="let skillGradeGrade of skillGradeGrades" (click)="selectSkillGradeGrade(skillGradeGrade)" [class.selected]="skillGradeGrade === selectedSkillGradeGrade">-->
                            <!--<td>{{ skillGradeGrade.code }}</td>-->
                            <!--<td>{{ skillGradeGrade.name }}</td>-->
                            <!--<td>{{ skillGradeGrade.description }}</td>-->
                            <!--<td>{{ skillGradeGrade.grade }}</td>-->
                            <!--<td>{{ skillGradeGrade.numerical }}</td>-->
                            <!--<td>-->
                                <!--<a href="#" (click)="showEditForm(skillGradeGrade, false)" data-toggle="tooltip" data-original-title="Edit" title='Edit'>-->
                                    <!--<i class="fa fa-pencil text-inverse m-r-10"></i>-->
                                <!--</a>-->
                                <!--<a href="#" (click)="showEditForm(skillGradeGrade, true)" data-toggle="tooltip" data-original-title="Delete" title="Delete">-->
                                    <!--<i class="fa fa-close text-danger"></i>-->
                                <!--</a>-->
                            <!--</td>-->
                        <!--</tr>-->
                    <!--</tbody>-->
                <!--</table>-->
            <!--</div>-->
            <!--<span *ngIf="!selectedSkillGrade?.id">Please select SkillGrade.</span>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--&lt;!&ndash; form for data editing &ndash;&gt;-->
<!--<div #editForm class="mfp-hide white-popup-block">-->
    <!--<h1 *ngIf="!isDeleteSkillGradeGrade && selectedSkillGradeGrade">Edit SkillGrade Grade</h1>-->
    <!--<h1 *ngIf="!isDeleteSkillGradeGrade && !selectedSkillGradeGrade">New SkillGrade Grade</h1>-->
    <!--<h1 *ngIf="isDeleteSkillGradeGrade">Delete SkillGrade Grade</h1>-->
    <!--<blockquote>-->
        <!--<h5>SkillGrade Grade for skillGrade: <hr>-->
            <!--<b>{{ selectedSkillGrade?.code }} - {{ selectedSkillGrade?.name }}</b><br>-->
            <!--<i>{{ selectedSkillGrade?.description }}</i>-->
        <!--</h5>-->
    <!--</blockquote>-->
    <!--<fieldset style="border:0;">-->
        <!--<div class="form-group">-->
            <!--<label class="control-label" for="inputCode">Code</label>-->
            <!--<input [disabled]="isDeleteSkillGradeGrade" #codeField type="text" class="form-control" id="inputCode" name="code" placeholder="Code" required="">-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label class="control-label" for="inputName">Name</label>-->
            <!--<input [disabled]="isDeleteSkillGradeGrade" #nameField type="text" class="form-control" id="inputName" name="name" placeholder="Name" required="">-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label class="control-label" for="descriptionArea">Description</label>-->
            <!--<br>-->
            <!--<textarea [disabled]="isDeleteSkillGradeGrade" #descriptionArea class="form-control" id="descriptionArea" name="description"></textarea>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label class="control-label" for="gradeField">Grade</label>-->
            <!--<input [disabled]="isDeleteSkillGradeGrade" #gradeField type="number" class="form-control" id="gradeField" name="grade" placeholder="#">-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label class="control-label" for="numericalField">Numerical</label>-->
            <!--<input [disabled]="isDeleteSkillGradeGrade" #numericalField type="text" class="form-control" id="numericalField" name="numerical" placeholder="D/N">-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<button *ngIf="!isDeleteSkillGradeGrade" class="btn btn-info" type="button" -->
                <!--(click)="saveSkillGrade(selectedSkillGradeGrade?.id, codeField.value, nameField.value, descriptionArea.value, gradeField.value, numericalField.value); codeField.value=''; nameField.value=''; descriptionArea.value=''; gradeField.value=''; numericalField.value='';">Save</button>-->
            <!--<button *ngIf="isDeleteSkillGradeGrade" class="btn btn-danger" type="button" -->
                <!--(click)="delete(selectedSkillGradeGrade); codeField.value=''; nameField.value=''; descriptionArea.value=''; gradeField.value=''; numericalField.value='';">Delete</button>-->
            <!--<button class="btn btn-default" type="button" -->
                <!--(click)="closeEditForm(); codeField.value=''; nameField.value=''; descriptionArea.value=''; gradeField.value=''; numericalField.value='';">Cancel</button>-->
        <!--</div>-->
    <!--</fieldset>-->
<!--</div>-->
