
        <!-- /row -->
        <div class="row">
            <div class="col-sm-12">
                <div class="white-box">

                    <div class="row">
                        <div class="table-responsive">

                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>{{ 'NAME' | translate}}</th>
                                        <th>{{ 'GENDER' | translate}}</th>
                                        <th>{{ 'DATEOFBIRTH' | translate}}</th>
                                        <th>{{ 'ADDRESS' | translate}}</th>
                                        <th>{{ 'CITY' | translate}}</th>
                                        <th>{{ 'COUNTRY' | translate}}</th>
                                        <th>{{ 'REGION' | translate}}</th>
                                        <th>{{ 'QUALIFICATION' | translate}}</th>
                                        <th>{{ 'INDUSTRY' | translate}}</th>
                                        <th>{{ 'EMPLOYED' | translate}}</th>
                                      <app-loader [loading]="loading"></app-loader>
                                    </tr>
                                </thead>

                                <tbody>


                                    <tr *ngFor="let applicant of applicants | slice:start:end; let i = index"
                                        [class]="(i === selectedRow)?'selectedRow':''">

                                        <td><a [routerLink]="['../','applicantOverview',applicant.id]"><i class="fa fa-search"></i></a></td>
                                        <td>{{ applicant?.name }} {{applicant?.surname}}</td>
                                        <td>{{ applicant?.gender }}</td>
                                        <td>{{ applicant?.birthdate | date:'dd/MM/yyyy'}}</td>
                                        <td>{{ applicant?.address }}</td>
                                        <td>{{ applicant?.id_city?.name }}</td>
                                        <td>{{ applicant?.id_country?.name }}</td>
                                        <td>{{ applicant?.id_region?.name }}</td>
                                        <td>{{ applicant?.id_qualification?.name }}</td>
                                        <td>{{ applicant?.industry }}</td>
                                        <td>{{ applicant?.employed }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

