<div class="row">
    <div class="col-sm-12">
        <div class="white-box">
            <h3 class="box-title m-b-0">
                Skills
              <div class="col-md-1 col-sm-1 col-xs-1 pull-right">
                <button type="button" [routerLink]="['../', 'addSkill']" class="btn btn-info btn-rounded pull-right" title="Add Skill">+ Add</button>
              </div>
            </h3>

            <p class="text-muted m-b-30">Skills for employees and applicants.</p>
            <div class="table-responsive">
                <table datatable class="display">
                    <thead>
                        <tr>
                            <th>Code</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Field of Skill</th>
                            <th class="text-nowrap">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let skill of skills">
                            <td>{{ skill.code }}</td>
                            <td>{{ skill.name }}</td>
                            <td>{{ skill.description }}</td>
                            <td>{{ skill.field }}</td>
                            <td>
                                <a data-toggle="tooltip" data-original-title="Edit" title='Edit'>
                                    <i class="fa fa-pencil text-inverse m-r-10"></i>
                                </a>
                                <a data-toggle="tooltip" data-original-title="Delete" title="Delete">
                                    <i class="fa fa-close text-danger"></i>
                                </a>
                            </td>
                        </tr>
<!--                        <tr *ngIf='skills.length === 0'>
                            <td colspan="5">
                                No data found.
                            </td>
                        </tr>-->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- form for data editing -->
  <app-skill-grades></app-skill-grades>
