<div class="panel panel-default m-b-10">
      <div>
        <div class="row">
          <div class="col-md-9 col-lg-9">

              <div class="input-group stylish-input-group">
                <input type="text" class="form-control" [(ngModel)]="searchValue" placeholder="Type to search..." >
                <span class="input-group-addon">
                        <button type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
              </div>

          </div>


            <div class="pull right">

              <button class="btn btn-default btn-rounded" data-perform="panel-collapse">Advanced Search <i class="ti-plus"></i> </button>
              <button *ngIf="!loading" (click)="refresh()" class="btn btn-info btn-rounded"><i class="fa fa-refresh" aria-hidden="true"></i></button>
              <button *ngIf="loading" class="btn btn-info btn-rounded pull-right"><i class="fa fa-refresh fa-spin"></i></button>

            </div>


        </div>
      </div>
      <div class="panel-wrapper collapse out">
        <div class="panel-body p-l-0 p-r-0">
          <div class="row">
            <div class="col-sm-12 col-xs-12">

              <div class="row">
                <!--<div class="col-md-6">-->
                  <!--<div class="form-group">-->
                    <!--<label>Date From</label>-->
                    <!--<input type="date" [(ngModel)]="searchByDateFrom" class="form-control">-->
                  <!--</div>-->
                <!--</div>-->
                <!--<div class="col-md-6">-->
                  <!--<div class="form-group">-->
                    <!--<label>Date To</label>-->
                    <!--<input type="date" [(ngModel)]="searchByDateTo" class="form-control">-->
                  <!--</div>-->
                <!--</div>-->
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Region</label>
                    <select [(ngModel)]="searchByRegion" class="form-control">
                      <option value="">All</option>
                      <option *ngFor="let region of regions" [ngValue]="region.name">{{region.name}}</option>
                    </select>
                  </div>
                </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Workplace</label>
                      <select [(ngModel)]="searchByWorkplace" class="form-control">
                        <option value="">All</option>
                        <option *ngFor="let workplace of workplaces" [ngValue]="workplace.name">{{workplace.name}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Status</label>
                      <select [(ngModel)]="searchByStatus" class="form-control">
                        <option value="">All</option>
                        <option value="ACTIVE">Active</option>
                        <option value="CLOSED">Closed</option>
                      </select>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>

<!-- gotov search-->



<!-- ADD VACANCY -->
<div *ngIf="isAdmin">
  <router-outlet></router-outlet>


  <div class="row m-b-20 p-l-5 p-r-10">
    <div class="col-lg-12">
      <div class="pull-right">
        <button routerLink="addVacancy" class="btn btn-default">Add Vacancy</button>

      </div>
    </div>
  </div>
</div>


<!-- page number i item number -->
<div *ngIf="pages.length > 1" class="row">
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 p-t-20 m-r-0 m-l-0">
    Showing
    {{resultCount}}
    results per page.
  </div>

  <ng-container *ngIf="pages.length > 1" >
    <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12 m-r-0 m-l-0">
      <div class="pull-right">
        <ul class="pagination m-b-0" ([ngModel])="page">
          <li [ngClass]="{noClick: page === 1}"> <a (click)="setPage(page-1)"><i class="fa fa-angle-left"></i></a> </li>
          <li [ngClass]="{active: pageIterator.num===page}" *ngFor="let pageIterator of pages"><a (click)="setPage(pageIterator.num)">{{pageIterator.num}}</a></li>
          <li [ngClass]="{noClick: page === pages.length}"> <a (click)="setPage(page+1)" ><i class="fa fa-angle-right"></i></a> </li>
        </ul>
      </div>
    </div>
  </ng-container>
</div>

<!-- gotov page number i item number -->


<!-- vacancy list -->
<div class="row">
  <div class="col-xs-12 col-lg-12 col-md-12">

    <div class="center">
      <app-loader [loading]="loading"></app-loader>
    </div>

    <div class="comment-center">
      <app-at-vacancies-item *ngFor="let vacancy of vacancies | searchFilterPipe:searchValue:searchableList
                  | searchStatusPipe:searchByStatus
                  | searchWorkplacePipe:searchByWorkplace
                  | searchRegionPipe: searchByRegion
                  | searchDatePipe: searchByDateFrom: searchByDateTo
                  | slice:start():end()
"
                             [vacancy]="vacancy"
                             [regions]="regions"
                             [workplaces]="workplaces">
      </app-at-vacancies-item>
    </div>
  </div>
</div>




<!-- page number i item number -->
<div *ngIf="pages.length > 1" class="row">
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 p-t-20 m-r-0 m-l-0">
    Showing
    {{resultCount}}
    results per page.
  </div>

  <ng-container *ngIf="pages.length > 1" >
    <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12 m-r-0 m-l-0">
      <div class="pull-right">
        <ul class="pagination m-b-0" ([ngModel])="page">
          <li [ngClass]="{noClick: page === 1}"> <a (click)="setPage(page-1)"><i class="fa fa-angle-left"></i></a> </li>
          <li [ngClass]="{active: pageIterator.num===page}" *ngFor="let pageIterator of pages"><a (click)="setPage(pageIterator.num)">{{pageIterator.num}}</a></li>
          <li [ngClass]="{noClick: page === pages.length}"> <a (click)="setPage(page+1)" ><i class="fa fa-angle-right"></i></a> </li>
        </ul>
      </div>
    </div>
  </ng-container>

</div>
<!-- gotov page number i item number -->

