<!-- row -->
<ng-container *ngIf="vacancy">
  <div class="row">
    <!-- Left sidebar -->
    <div class="col-xs-12">
      <div class="white-box">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mail_listing" style="border-left: none !important">
            <div class="media m-b-30 p-t-20">
              <h4 class="font-bold m-t-0">{{vacancy.name}}</h4>
            </div>
            <div class="col-xs-12 col-md-12">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label col-md-3">{{'LOCATION' | translate}}:</label> {{vacancy.id_location.name}}
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label col-md-3">{{'DATEFROM' | translate}}:</label> {{vacancy.date_from | date}}
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label col-md-3">{{'DATETO' | translate}}:</label> {{vacancy.date_to | date}}
                </div>
              </div>
              <div *ngIf="vacancy.job_role" class="col-md-6">
                <div class="form-group">
                  <label class="control-label col-md-3">{{'JOBROLE' | translate}}:</label> {{vacancy.job_role}}
                </div>
              </div>
              <div *ngIf="vacancy.job_working_time" class="col-md-6">
                <div class="form-group">
                  <label class="control-label col-md-3">{{'JOBWORKINGTIME' | translate}}:</label> {{vacancy.job_working_time}}
                </div>
              </div>
              <div *ngIf="vacancy.language_requirement" class="col-md-6">
                <div class="form-group">
                  <label class="control-label col-md-3">{{'LANGUAGEREQUIREMENTS' | translate}}:</label> {{vacancy.language_requirement}}
                </div>
              </div>
              <div *ngIf="vacancy.education_requirement" class="col-md-6">
                <div class="form-group">
                  <label class="control-label col-md-3">{{'EDUCATIONREQUIREMENTS' | translate}}:</label> {{vacancy.education_requirement}}
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-md-12">
              <hr>
              <h4>{{'DESCRIPTION' | translate}}:</h4>
              {{vacancy.description}}
            </div>

            <div *ngIf="vacancy.skills_requirement" class="col-xs-12 col-md-12">
              <hr>
              <h4>{{'SKILLREQUIREMENTS' | translate}}:</h4>
              {{vacancy.skills_requirement}}


            </div>

            <div *ngIf="vacancy.experience_requirement" class="col-xs-12 col-md-12">
              <hr>
              <h4>{{'EXPERIENCEREQUIREMENTS' | translate}}:</h4>
              {{vacancy.experience_requirement}}


            </div>
            <div *ngIf="!loading">
              <button *ngIf="!applied && applicantId" (click)="apply()" class="btn btn-default btn-rounded pull-right">{{'APPLY' | translate}}</button>
              <button *ngIf="userWithoutApplicantProfile()" (click)="navigateToApplicantProfile()" class="btn btn-default btn-rounded pull-right">{{'CREATEANAPPLICANTPROFILE' | translate}}</button>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>

