 <div class="row bg-title">

      <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <h3>{{'ADDNEWVACANCY' | translate}}</h3>
      </div>
      <!-- /.col-lg-12 -->
    </div>
    <!-- /row -->
    <div class="row">
      <div class="col-sm-12">
        <div class="white-box">
          <h3 class="box-title">{{'BASICINFORMATION' | translate}}</h3>
          <form [formGroup]="newVacForm" (ngSubmit)="onSubmit()" class="form-material form-horizontal m-t-30">
            <div class="form-group">
              <label class="col-md-12" for="example-text">{{'VACANCYNAME' | translate}} *
              </label>
              <div class="col-md-12">
                <input formControlName="name" type="text" id="example-text" name="example-text" class="form-control" placeholder="{{'ENTERVACANCYNAME' | translate}}">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-12" for="bdate">{{'VACANCYCODE' | translate}}
              </label>
              <div class="col-md-12">
                <input formControlName="code" type="text" id="bdate" name="bdate" class="form-control mydatepicker" placeholder="{{'ENTERVACANCYCODE' | translate}}">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-12">{{'DESCRIPTION' | translate}}</label>
              <div class="col-md-12">
                <textarea formControlName="description" class="form-control" rows="3"></textarea>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-12">{{'SKILLREQUIREMENTS' | translate}}</label>
              <div class="col-md-12">
                <textarea formControlName="skills_requirement" class="form-control" rows="3"></textarea>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-12">{{'EXPERIENCEREQUIREMENTS' | translate}}</label>
              <div class="col-md-12">
                <textarea formControlName="experience_requirement" class="form-control" rows="3"></textarea>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-12" for="example-text">{{'JOBROLE' | translate}}
              </label>
              <div class="col-md-12">
                <input formControlName="job_role" type="text" name="job_role" class="form-control" placeholder="{{'ENTERJOBROLE' | translate}}">
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-12" for="example-text">{{'JOBWORKINGTIME' | translate}}
              </label>
              <div class="col-md-12">
                <select formControlName="job_working_time" name="job_working_time" class="form-control" >
                  <option>{{'FULLTIME' | translate}}</option>
                  <option>{{'PARTTIME' | translate}}</option>
                </select>
<!--
                <input formControlName="job_working_time" type="text" name="job_working_time" class="form-control" placeholder="{{'ENTERJOBWORKINGTIME' | translate}}">
-->
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-12" for="example-text">{{'LANGUAGEREQUIREMENTS' | translate}}
              </label>
              <div class="col-md-12">
                <input formControlName="language_requirement" type="text" name="language_requirement" class="form-control" placeholder="{{'ENTERLANGUAGEREQUIREMENTS' | translate}}">
              </div>
            </div>

<!--            <div class="form-group">
              <label class="col-md-12" for="example-text">Education Requirements
              </label>
              <div class="col-md-12">
                <input formControlName="education_requirement" type="text" name="education_requirement" class="form-control" placeholder="enter experience requirements">
              </div>
            </div>-->

            <div class="form-group">
              <label class="col-md-12" for="example-text">{{'EDUCATIONREQUIREMENTS' | translate}}
              </label>
              <div class="col-md-12">
                <select formControlName="education_requirement" class="form-control">
                  <option *ngFor="let qualification of qualifications" [ngValue]="qualification.name">{{qualification.name}}</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-12">{{'REGION' | translate}} *</label>
              <div class="col-sm-12">
                <select formControlName="region" class="form-control">
                  <option *ngFor="let region of regions" [ngValue]="region">{{region.name}}</option>
                </select>
              </div>
            </div>

            <div class="row">
              <div class="form-group col-md-6">
                <label for="date_from" >{{'DATEFROM' | translate}} *:</label>
                <input formControlName="date_from" type="date" class="form-control" id="date_from" name="date_from" ><span class="highlight"></span><span
                class="bar"></span>
              </div>
              <div class="form-group col-md-6">
                <label for="date_to" >{{'DATETO' | translate}} *:</label>
                <input formControlName="date_to" type="date" class="form-control" id="date_to"  name="date_from" ><span class="highlight"></span><span class="bar"></span>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <button [disabled] = "!newVacForm.valid" type="submit" class="pull-right btn btn-success waves-effect waves-light m-r-10">{{'SUBMIT' | translate}}</button>
                <button (click)="redirect()" type="button" class="pull-right btn btn-default waves-effect waves-light">{{'CANCEL' | translate}}</button>
              </div>
            </div>
           </form>
        </div>
      </div>
    </div>
   <!-- <div class="row">
      <div class="col-sm-6">
        <div class="white-box">
          <h3 class="box-title">Leads's Account Information</h3>
          <form class="form-material form-horizontal m-t-30">
            <div class="form-group">
              <label class="col-md-12" for="example-email">Email
              </label>
              <div class="col-md-12">
                <input type="email" id="example-email" name="example-email" class="form-control" placeholder="enter your email">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-12" for="example-phone">Phone
              </label>
              <div class="col-md-12">
                <input type="text" id="example-phone" name="example-phone" class="form-control" placeholder="enter your phone" data-mask="(999) 999-9999">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-12">Address
              </label>
              <div class="col-md-12">
                <textarea class="form-control" place-holder=""></textarea>
              </div>
            </div>
            <button type="submit" class="btn btn-info waves-effect waves-light m-r-10">Submit</button>
            <button type="submit" class="btn btn-inverse waves-effect waves-light">Cancel</button>
          </form>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="white-box">
          <h3 class="box-title">Leads's Social Information</h3>
          <form class="form-material form-horizontal m-t-30">
            <div class="form-group">
              <label class="col-md-12" for="furl">Facebook URL
              </label>
              <div class="col-md-12">
                <input type="text" id="furl" name="furl" class="form-control">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-12" for="turl">Twitter URL
              </label>
              <div class="col-md-12">
                <input type="text" id="turl" name="turl" class="form-control">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-12" for="inurl">LinkedIN URL
              </label>
              <div class="col-md-12">
                <input type="text" id="inurl" name="inurl" class="form-control">
              </div>
            </div>
            <button type="submit" class="btn btn-info waves-effect waves-light m-r-10">Submit</button>
            <button type="submit" class="btn btn-inverse waves-effect waves-light">Cancel</button>
          </form>
        </div>
      </div>
    </div>-->
