
  <!-- Page Content -->

      <div class="row bg-title">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
          <h4 class="page-title">{{ 'ACCOUNTSETTINGS' | translate }}</h4>
        </div>
      </div>
      <!-- /.row -->
      <!-- .row -->
      <div class="row el-element-overlay">

        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="white-box">
            <div class="el-card-item">
              <div class="el-card-avatar el-overlay-1">
                <img [src]="user?.image_path" />
              </div>
              <div class="el-card-content">
                <button class="btn btn-default btn-rounded" (click)="file.click()">Change image</button>
                <input type="file" name="file" (change)="onFileChange($event)" ngModel #file style="display: none">
                <!--<h3 class="box-title">{{user?.name}}</h3>-->
                <hr>
                <h3>{{user?.username}}</h3>
                <br/>
              </div>
            </div>
          </div>
        </div>
        <!-- /.usercard-->



        <div class="col-md-9 col-xs-12">
          <div class="white-box" style="min-height: 245px">
            <ul class="nav customtab nav-tabs" style="padding: 25px; padding-bottom: 0" role="tablist">
              <li role="presentation" class="nav-item">
                <a [class.active]="state == 'profile'" (click)="state='profile';" href="#profile" class="nav-link" aria-controls="profile" role="tab" data-toggle="tab" aria-expanded="false">
                  <span class="visible-xs">
                    <i class="fa fa-user"></i>
                  </span>
                  <span class="hidden-xs">{{ 'PROFILE' | translate }}</span>
                </a>
              </li>
              <li role="presentation" class="nav-item">
                <a [class.active]="state == 'settings'" (click)="state='settings';" href="#settings" class="nav-link" aria-controls="messages" role="tab" data-toggle="tab" aria-expanded="false">
                  <span class="visible-xs">
                    <i class="ti-email"></i>
                  </span>
                  <span class="hidden-xs">{{ 'SETTINGS' | translate }}</span>
                </a>
              </li>
              <li role="presentation" class="nav-item">
                <a [class.active]="state == 'password'" (click)="state='password';" href="#password" class="nav-link" aria-controls="messages" role="tab" data-toggle="tab" aria-expanded="false">
                  <span class="visible-xs">
                    <i class="ti-lock"></i>
                  </span>
                  <span class="hidden-xs">{{ 'CHANGEPASSWORD' | translate }}</span>
                </a>
              </li>
            </ul>

            <div class="tab-content tab-content-style">

              <div class="tab-pane active" id="profile">
                <div class="row">
                  <!--<div class="col-md-3 col-xs-6 b-r"> <strong>{{ 'NAME' | translate }}</strong>-->
                    <!--<br>-->
                    <!--<p class="text-muted">{{user?.name}}</p>-->
                  <!--</div>-->
                  <div class="col-md-6 col-xs-12 b-r"> {{ 'EMAIL' | translate }}
                    <br>
                    <p class="text-muted">{{user?.email}}</p>
                  </div>
                  <div class="col-md-3 col-xs-12 b-r">{{ 'USERNAME' | translate }}
                    <br>
                    <p class="text-muted">{{user?.username}}</p>
                  </div>
                  <div class="col-md-3 col-xs-12">{{ 'PROFILETYPE' | translate }}
                    <br>
                    <p class="text-muted">{{user?.role}}</p>
                  </div>
                </div>
              </div>

              <div class="tab-pane" id="settings">
                <form class="form-horizontal form-material" role="form" (ngSubmit)="formUserInformation.form.valid && onSubmit(formUserInformation)" #formUserInformation="ngForm" style="margin: 0 15px">
                  <!--<div class="form-group">-->
                    <!--<label class="col-md-12">Name:</label>-->
                    <!--<input type="text" class="form-control form-control-line" name="name"  [(ngModel)]="user && user.name" #name="ngModel" required>-->
                  <!--</div>-->
                  <div class="form-group" [ngClass]="{ 'has-error': formUserInformation.submitted && user.email == '' }">
                    <label class="col-md-12">{{ 'EMAIL' | translate }}: </label>
                    <input type="email"
                           required
                           class="form-control form-control-line"
                           name="email"
                           [(ngModel)]="user && user.email"
                           #email="ngModel"
                           pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">

                    <div *ngIf="formUserInformation.submitted && user.email == ''" class="help-block">{{ 'FIELDISREQUIRED' | translate }}</div>
                    <div  *ngIf="formUserInformation.submitted && email.errors" class="help-block">{{'EMAILISINVALID' | translate}}</div>

                    <!--<div [hidden]="!email.hasError('pattern')">Email format should be-->
                      <!--<small><b>joe@abc.com</b></small>-->
                    <!--</div>-->
                  </div>
                  <div class="form-group" [ngClass]="{ 'has-error': formUserInformation.submitted && user.username == '' }">
                    <label class="col-md-12">{{ 'USERNAME' | translate }}:</label>
                    <input type="text" required class="form-control form-control-line" name="username" [(ngModel)]="user && user.username" #email="ngModel">
                    <div *ngIf="formUserInformation.submitted && user.username == ''" class="help-block">{{ 'FIELDISREQUIRED' | translate }}</div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-12">
                      <button class="btn btn-default btn-rounded pull-right">{{ 'UPDATEPROFILE' | translate }}</button>
                    </div>
                  </div>
                </form>
              </div>

              <div class="tab-pane" id="password">
                <form class="form-horizontal form-material" role="form" (ngSubmit)="formPassword.form.valid && onSubmitPassword(formPassword)" #formPassword="ngForm" style="margin: 0 15px">
                  <div class="form-group" [ngClass]="{ 'has-error': formPassword.submitted && !currentPassword.valid }">
                    <label class="col-md-12">{{ 'CURRENTPASSWORD' | translate }}: *</label>
                    <input type="password" required class="form-control form-control-line" name="currentPassword" ngModel  #currentPassword="ngModel">
                    <div *ngIf="formPassword.submitted && !currentPassword.valid" class="help-block">{{ 'FIELDISREQUIRED' | translate }}</div>
                  </div>
                  <div class="form-group" [ngClass]="{ 'has-error': formPassword.submitted && !password1.valid }">
                    <label class="col-md-12">{{ 'NEWPASSWORD' | translate }}: *</label>
                    <input type="password" required  minlength="6" class="form-control form-control-line" name="password1" ngModel #password1="ngModel">
                    <div *ngIf="formPassword.submitted && !password1.valid" class="help-block">{{ 'FIELDISREQUIRED' | translate }}</div>
                    <div *ngIf="formPassword.submitted && password1.errors && password1.errors.minlength" class="help-block">{{'PASSWORDMUSTBEATLEASTSIXCHARACTERSLONG' | translate}}</div>

                  </div>
                  <div class="form-group" [ngClass]="{ 'has-error': formPassword.submitted && !password2.valid }">
                    <label class="col-md-12">{{ 'CONFIRMPASSWORD' | translate }}: *</label>
                    <input type="password" required class="form-control form-control-line" name="password2" ngModel #password2="ngModel">
                    <div *ngIf="formPassword.submitted && !password2.valid" class="help-block">{{ 'FIELDISREQUIRED' | translate }}</div>
                  </div>


                  <div class="form-group">
                    <div class="col-sm-12">
                      <button class="btn btn-default btn-rounded pull-right">{{ 'UPDATEPASSWORD' | translate }}</button>
                    </div>
                  </div>
                  <div *ngIf="error" class="alert alert-danger">{{error}}</div>
                </form>

              </div>



            </div>
          </div>
        </div>
      </div>


