
        <div class="row">
            <div class="col-md-12">
                <div class="white-box-at">
                    <h3 *ngIf="!applicant && editable">{{ 'CREATEYOURCVHERE' | translate }}</h3>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="at-img-align m-b-30">

                              <img src="assets/images/users/user-male-icon.png" class="img-fluid" />
                              <!--<img *ngIf="applicant" [src]="applicant.image_link" class="img-fluid" />-->
                            </div>
                          <div *ngIf="applicant">
                            <h5 *ngIf="currentExperience"><b>{{currentExperience?.company}} &middot; {{currentExperience?.location}}</b></h5>
                            <h5 *ngIf="currentSchool"><b>{{currentSchool?.school}} &middot; {{currentSchool?.id_school?.id_city?.name}}</b></h5>
                            <h5 *ngIf="applicant.id_city" ><b>{{applicant?.id_city?.name}} &middot; {{applicant?.id_country?.name}}</b></h5>
                          </div>
                        </div>
                        <div class="col-sm-9">
                            <div>

                              <!-- PERSONAL INFO ----------->
                                <form class="form-horizontal" role="form" (ngSubmit)="f.form.valid && onSubmit(f)" #f="ngForm">
                                    <div class="panel-footer p-b-20 p-t-20 m-b-10">
                                        <i class="icon-user m-r-5 heading-icon-at"></i>
                                        <span class="heading-at">{{ 'PERSONINFO' | translate}}</span>
                                        <div *ngIf="editable" class="pull-right">
                                          <a *ngIf="!addApplicant && this.applicant == null" (click)="addApplicant=true; isEditPersonal=true">
                                            <i class="fa fa-plus action-button-at"></i>
                                          </a>
                                            <a *ngIf="!isEditPersonal && this.applicant !=null && editable" (click)="isEditPersonal=true">
                                              <i class="fa fa-pencil action-button-at"></i>
                                            </a>
                                        </div>
                                    </div>

                                    <div *ngIf="this.applicant != null || addApplicant" class="form-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !applicant?.name }">
                                                    <label  class="control-label col-md-3">{{ 'FIRSTNAME' | translate}}:</label>
                                                    <div class="col-md-9">
                                                        <p *ngIf="!isEditPersonal" class="form-control-static">{{applicant?.name}}</p>
                                                      <input required *ngIf="isEditPersonal"  type="text" class="form-control" name="name"
                                                      [(ngModel)]="applicant && applicant.name"><span class="highlight"></span><span class="bar"></span>
                                                    </div>
                                                  <div *ngIf="f.submitted && !applicant?.name" class="help-block">{{ 'FIELDISREQUIRED' | translate}}</div>

                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-3">{{ 'MIDDLENAME' | translate}}:</label>
                                                    <div class="col-md-9">
                                                        <p *ngIf="!isEditPersonal" class="form-control-static"> {{applicant?.middle_name}} </p>
                                                        <input *ngIf="isEditPersonal"  type="text" class="form-control" name="middle_name"
                                                             [(ngModel)]="applicant && applicant.middle_name"><span class="highlight"></span><span class="bar"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !applicant?.surname }">
                                                    <label class="control-label col-md-3">{{ 'LASTNAME' | translate}}:</label>
                                                    <div class="col-md-9">
                                                        <p *ngIf="!isEditPersonal" class="form-control-static"> {{applicant?.surname}} </p>
                                                        <input required *ngIf="isEditPersonal"  type="text" class="form-control"  name="surname"
                                                               [(ngModel)]="applicant && applicant.surname"><span class="highlight"></span><span class="bar"></span>
                                                      <div *ngIf="f.submitted && !applicant?.surname" class="help-block">{{ 'FIELDISREQUIRED' | translate}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-3">{{ 'MAIDENNAME' | translate}}:</label>
                                                    <div class="col-md-9">
                                                        <p *ngIf="!isEditPersonal" class="form-control-static"> {{applicant?.maiden_name}} </p>
                                                        <input *ngIf="isEditPersonal"  type="text" class="form-control" name="maiden_name"
                                                               [(ngModel)]="applicant && applicant.maiden_name"><span class="highlight"></span><span class="bar"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/row-->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !applicant?.gender }">
                                                    <label class="control-label col-md-3">{{ 'GENDER' | translate}}:</label>
                                                    <div class="col-md-9">
                                                        <p *ngIf="!isEditPersonal" class="form-control-static"> {{applicant?.gender}} </p>
                                                        <select  *ngIf="isEditPersonal" class="form-control p-0"  [(ngModel)]="applicant && applicant.gender" name="gender">
                                                          <option [selected]="applicant?.gender == 'Male' || !applicant?.gender" value="Male">Male</option>
                                                          <option [selected]="applicant?.gender == 'Female'" value="Female">Female</option>
                                                        </select><span class="highlight"></span> <span class="bar"></span>
                                                      <div *ngIf="f.submitted && !applicant?.gender" class="help-block">{{ 'FIELDISREQUIRED' | translate }}</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-3">{{ 'DATEOFBIRTH' | translate}}:</label>
                                                    <div class="col-md-9">
                                                        <p *ngIf="!isEditPersonal" class="form-control-static"> {{applicant?.birthdate | date:'MM/dd/yyyy'}} </p>
                                                        <input *ngIf="isEditPersonal"  type="date" class="form-control" name="birthdate"
                                                               [(ngModel)]="applicant && applicant.birthdate"><span class="highlight"></span><span class="bar"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/row-->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-3">{{ 'MARTIALSTATUS' | translate}}:</label>
                                                    <div class="col-md-9">
                                                        <p *ngIf="!isEditPersonal" class="form-control-static"> {{applicant?.marital_status}} </p>
                                                      <select  *ngIf="isEditPersonal" class="form-control p-0"   [(ngModel)]="applicant && applicant.marital_status" name="marital_status">
                                                        <option [selected]="applicant?.marital_status == 'Married'" value="Married">{{ 'MARRIED' | translate}}</option>
                                                        <option [selected]="applicant?.marital_status == 'Unmarried'" value="Unmarried">{{ 'NOTMARRIED' | translate}}</option>
                                                      </select><span class="highlight"></span> <span class="bar"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/row-->
                                        <h3 class="box-title">{{ 'ADDRESS' | translate }}</h3>
                                        <hr class="m-t-0 m-b-40">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-3">{{ 'ADDRESS' | translate }}:</label>
                                                    <div class="col-md-9">
                                                        <p *ngIf="!isEditPersonal" class="form-control-static"> {{applicant?.address}} </p>
                                                        <input *ngIf="isEditPersonal"  type="text" class="form-control" name="address"
                                                             [(ngModel)]="applicant && applicant.address"><span class="highlight"></span><span class="bar"></span>

                                                    </div>
                                                </div>
                                            </div>
                                          <div class="col-md-6">
                                            <div class="form-group">
                                              <label class="control-label col-md-3">{{ 'REGION' | translate }}:</label>
                                              <div class="col-md-9">
                                                <select *ngIf="isEditPersonal" class="form-control p-0" (change)="onRegionSelected(t.value)" #t  name="selectedRegion">
                                                  <option *ngFor="let region of regions"  [selected]="region?.id == selectedRegion?.id" [ngValue]="region">{{region?.name}}</option>
                                                </select><span class="highlight"></span> <span class="bar"></span>
                                                <p *ngIf="!isEditPersonal" class="form-control-static"> {{applicant?.id_region?.name}} </p>

                                              </div>
                                            </div>
                                          </div>

                                        </div>
                                        <div class="row">

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-3">{{ 'COUNTRY' | translate }}:</label>

                                                    <div class="col-md-9">
                                                      <select *ngIf="isEditPersonal" class="form-control p-0" (change)="onCountrySelected(t.value)" #t  name="selectedCountry">
                                                        <option *ngFor="let country of filteredCountries" [selected]="country?.id == selectedCountry?.id" [ngValue]="country">{{country?.name}}</option>
                                                      </select><span class="highlight"></span> <span class="bar"></span>
                                                      <p *ngIf="!isEditPersonal" class="form-control-static"> {{applicant?.id_country?.name}} </p>
                                                    </div>
                                                </div>
                                            </div>
                                          <div class="col-md-6">
                                            <div class="form-group">
                                              <label class="control-label col-md-3">{{ 'CITY' | translate }}:</label>
                                              <div class="col-md-9">

                                                <select *ngIf="isEditPersonal" class="form-control p-0" (change)="onCitySelected(t.value)" #t>
                                                  <option *ngFor="let city of filteredCities" [selected]="city?.id == selectedCity?.id" [ngValue]="city">{{city?.name}}</option>
                                                </select><span class="highlight"></span> <span class="bar"></span>
                                                <p *ngIf="!isEditPersonal" class="form-control-static"> {{applicant?.id_city?.name}} </p>

                                              </div>
                                            </div>
                                          </div>

                                        </div>
                                        <h3 class="box-title">{{ 'QUALIFICATIONANDJOB' | translate }}</h3>
                                        <hr class="m-t-0 m-b-40">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-3">{{ 'QUALIFICATION' | translate }}:</label>
                                                    <div class="col-md-9">
                                                        <select *ngIf="isEditPersonal" class="form-control p-0" (change)="onQualificationSelected(t.value)" #t>
                                                          <option *ngFor="let qualification of qualifications" [selected]="qualification?.id == applicant?.id_qualification?.id" [ngValue]="qualification">{{qualification?.name}}</option>
                                                        </select><span class="highlight"></span> <span class="bar"></span>
                                                      <p *ngIf="!isEditPersonal" class="form-control-static"> {{applicant?.id_qualification?.name}} </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-3">{{ 'INDUSTRY' | translate }}:</label>
                                                    <div class="col-md-9">
                                                        <p *ngIf="!isEditPersonal" class="form-control-static">{{applicant?.industry}}</p>
                                                        <input *ngIf="isEditPersonal"  type="text" class="form-control"  name="industry"
                                                               [(ngModel)]="applicant && applicant.industry"><span class="highlight"></span><span class="bar"></span>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-3">{{ 'CURRENTLYEMPLOYED' | translate }}:</label>
                                                    <div class="col-md-9">
                                                        <p *ngIf="!isEditPersonal" class="form-control-static"> {{applicant?.employed}} </p>
                                                      <select  *ngIf="isEditPersonal" class="form-control p-0"  [(ngModel)]="applicant && applicant.employed" name="employed">
                                                        <option [selected]="applicant?.employed == 'Yes'" value="Yes">Yes</option>
                                                        <option [selected]="applicant?.employed == 'No'" value="No">No</option>
                                                      </select><span class="highlight"></span> <span class="bar"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-3">{{ 'EMPLOYMENTPOSITION' | translate }}:</label>
                                                    <div class="col-md-9">
                                                        <p *ngIf="!isEditPersonal" class="form-control-static"> {{applicant?.employment_position}} </p>
                                                      <input *ngIf="isEditPersonal"  type="text" class="form-control"  name="employment_position"
                                                             [(ngModel)]="applicant && applicant.employment_position"><span class="highlight"></span><span class="bar"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-3">{{ 'DESCRIPTION' | translate }}:</label>
                                                    <div class="col-md-9">
                                                        <p *ngIf="!isEditPersonal" class="form-control-static">{{applicant?.description}}</p>
                                                      <input *ngIf="isEditPersonal"  type="text" class="form-control" id="description" name="description"
                                                             [(ngModel)]="applicant && applicant.description"><span class="highlight"></span><span class="bar"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                      <div class="row" style="margin-bottom: 10px">
                                        <div class="col-md-6">

                                        </div>
                                        <div class="col-md-6">
                                          <button *ngIf="isEditPersonal || addApplicant" class="saveButton pull-right btn btn-success" type="submit">{{ 'SAVE' | translate }} <i *ngIf="addApplicant" class="fa fa-plus" aria-hidden="true"></i></button>
                                          <button (click)="isEditPersonal=false; addApplicant=false" *ngIf="isEditPersonal || addApplicant" class="saveButton pull-right btn btn-default" type="submit">{{ 'CANCEL' | translate }}</button>

                                        </div>

                                      </div>
                                      </div>

                                </form>
                                  <!-- PERSONAL INFO END ----------->

                              <!-- EXPERIENCE START ------>
                              <div *ngIf="this.applicant != null">
                                <app-at-applicant-experiences [applicant]="applicant" (currentExperience)="getCurrentExperience($event)" [editable]="editable"></app-at-applicant-experiences>
                              </div>
                              <!-- EXPERIENCE END -------->

                              <!-- EDUCATION START -->
                              <div *ngIf="this.applicant != null">
                                <div class="panel-footer p-b-20 p-t-20 m-b-10">
                                  <i class="icon-graduation m-r-5 heading-icon-at"></i>
                                  <span class="heading-at">{{ 'EDUCATION' | translate }}</span>
                                  <div class="pull-right">
                                    <a *ngIf="editable" class="popup-with-form" (click)="addEducation=true">
                                      <i class="fa fa-plus action-button-at"></i>
                                    </a>
                                  </div>
                                </div>
                                <app-applicant-education-add *ngIf="addEducation && editable" [applicant]="applicant" (onClose)="onClose($event)"></app-applicant-education-add>
                                <app-at-applicant-schools-list [applicant]="applicant" (currentSchool)="getCurrentSchool($event)" [editable]="editable"></app-at-applicant-schools-list>
                               </div>
                              <!-- EDUCATION END -->

                              <!-- ACCOMPLISHMENTS START -->
                              <div *ngIf="this.applicant != null">
                                <app-at-applicant-accomplishments [applicant]="applicant" [editable]="editable"></app-at-applicant-accomplishments>
                              </div>
                              <!-- ACCOMPLISHMENTS END -->

                              <!-- DOCUMENTS START -->
                              <div *ngIf="this.applicant != null">
                                <app-at-applicant-documents [applicant]="applicant" [editable]="editable"></app-at-applicant-documents>
                              </div>
                              <!-- DOCUMENTS END -->

                              <!-- DOCUMENTS START -->
                              <div *ngIf="this.applicant != null">
                                <app-at-applicant-contacts [applicant]="applicant" [editable]="editable"></app-at-applicant-contacts>
                              </div>
                              <!-- DOCUMENTS END -->



                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


