<div class="row">
  <div class="col-md-12">
    <form class="form-horizontal" role="form" (ngSubmit)="onSubmit(formEducation)" #formEducation="ngForm">
      <div class="form-body">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label col-md-3">Institution:</label>
              <div class="col-md-9">
                <select class="form-control p-0" id="selectedSchool" [(ngModel)]="selectedSchool" name="selectedSchool">
                  <option *ngFor="let school of schools"  [ngValue]="school">{{school?.name}}</option>
                </select><span class="highlight"></span> <span class="bar"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label col-md-3">Degree:</label>
              <div class="col-md-9">
                <select class="form-control p-0" id="selectedQualificaiton" [(ngModel)]="selectedQualification" name="selectedQualification">
                  <option *ngFor="let qualification of qualifications"  [ngValue]="qualification">{{qualification?.name}}</option>
                </select><span class="highlight"></span> <span class="bar"></span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label col-md-3">Field of study:</label>
              <div class="col-md-9">
                <input type="text" class="form-control" id="major" name="major" ngModel>
                <span class="highlight"></span>
                <span class="bar"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label col-md-3">From year:</label>
              <div class="col-md-9">
                <input type="date" class="form-control" id="date_from" name="date_from" ngModel>
                <span class="highlight"></span>
                <span class="bar"></span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label col-md-3">To year <br>(or expected):</label>
              <div class="col-md-9">
                <input type="date" class="form-control" id="date_to" name="date_to" ngModel="">
                <span class="highlight"></span>
                <span class="bar"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label col-md-3">Grade:</label>
              <div class="col-md-9">
                <input type="number" class="form-control" id="grade" name="grade" ngModel>
                <span class="highlight"></span>
                <span class="bar"></span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label col-md-3">Description:</label>
              <div class="col-md-9">
                <input type="text" class="form-control" id="description" name="description" ngModel>
                <span class="highlight"></span>
                <span class="bar"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label col-md-3">Link:</label>
              <div class="col-md-9">
                <input type="text" class="form-control" id="link" name="link" ngModel>
                <span class="highlight"></span>
                <span class="bar"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="pull-right btn btn-success" type="submit">Add</button>
      <a (click)="close()" class="pull-right btn btn-info">Cancel</a>
    </form>
  </div>
</div>
<hr>

