
<div class="comment-body" style="width: 100%;">

  <div class="user-img"> <img src="#" alt="user" class="img-circle"></div>
  <div class="mail-contnet">
    <a [routerLink]="['../../','jobApplication',jobApplication.id]">
      <h5>{{jobApplication.applicantid.name}}</h5>
      <span class="mail-desc" style="height:100px;">
                                                <div class="row">
                                                    <div class="col-lg-8">
                                                        <div class="col-xs-12 col.sm-6 col-md-6 col-lg-6">
                                                            <b>Birth:</b> {{jobApplication.applicantid.birthdate | date}}
                                                        </div>
                                                        <div class="col-xs-12 col.sm-6 col-md-6 col-lg-6">
                                                            <b>Birth:</b> 01 January 2000; Male
                                                        </div>
                                                        <div class="col-xs-12 col.sm-6 col-md-6 col-lg-6">
                                                            <b>Email:</b> {{jobApplication.applicantid.email}}
                                                        </div>
                                                        <div class="col-xs-12 col.sm-6 col-md-6 col-lg-6">
                                                            <b>Phone:</b> {{jobApplication.applicantid.phone_number}}
                                                        </div>

                                                    <div>
                                                        {{jobApplication.review}}
                                                    </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <div class="row">
                                                            <div class="col-lg-6">
                                                                <div *ngIf="jobApplication.interview" class="row">
                                                                    <div class="col-lg-12">
                                                                        <b>Interview</b>
                                                                        <div class="progress progress-sm">
                                                                            <div  class="progress-bar progress-bar-info"
                                                                                  [style.width]="jobApplication.interview_grade + '%'" role="progressbar"> <span
                                                                              class="sr-only">{{jobApplication.interview_grade}}% </span> </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div *ngIf="jobApplication.test" class="row">
                                                                    <div class="col-lg-12">
                                                                        <b>Test</b>
                                                                        <div  class="progress progress-sm">
                                                                            <div class="progress-bar progress-bar-warning"
                                                                                 [style.width]="jobApplication.test_grade + '%'" role="progressbar"> <span
                                                                              class="sr-only">{{jobApplication.test_grade}}% </span> </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                          <!--                                                            <div class="col-lg-7">
                                                                                                                          <div data-label="4.7" class="css-bar css-bar-95 css-bar-lg m-b-0 m-r-10 css-bar-info pull-right"></div>
                                                                                                                      </div>-->
                                                            <div [attr.data-label]="jobApplication.grade" [ngClass]="getBar(jobApplication.grade)" class="css-bar css-bar-lg m-b-0 m-r-10 css-bar-info pull-right"></div>

                                                        </div>

                                                    </div>
                                                </div>
                                            </span>
    </a>

    <span class="label label-rouded label-default" style="color: black;">. . .</span>
    <a href="#" style="color: rgb(132, 138, 150);" class="btn pull-right"><i class="fa fa-envelope-o"></i> Send an email</a>
    <a routerLink="activities" style="color: rgb(132, 138, 150);" class="btn m-r-10 pull-right"><i class="fa fa-calendar-o"></i> Schedule an activity</a>
  </div>

</div>
